<div class="bgback" fxLayoutAlign="center center" fxFlexFill>
     <p><i class="fa-regular fa-user"></i></p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="35">
        <h1>NOKIA</h1>
        <h2 STYLE="font-weight: bold;text-align: center;">FACILIVISS</h2>
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <mat-label>Email</mat-label>
             
              <input matInput placeholder="Email">
            </mat-form-field>
         
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Email">
              </mat-form-field>
              <p style="text-align: right;">Forgot password?</p>
              <button mat-raised-button color="primary">Submit</button>   
            </form>
    </mat-card>
</div>
</div>